.nav-link-paragraph {
    color: #666;
    font-size: 12px;
    font-weight: bold !important;
    padding: 1rem 0rem 1rem 0rem;
}
/* change anchor style */
p a {
    color: #1B416C;
    cursor: pointer;
    border-bottom: dashed;
    text-decoration: none;
}

.nav-link-section {
    color: #666;
    font-size: 12px;
    font-weight: bold !important;
    padding: 1rem 0rem 0.8rem 0rem;
}

.nav-link-subsection {
    color: #666;
    font-size: 10px;
    padding: 0.1rem 1rem 0.2rem 0rem;
}

body {
    margin: 0;
    background-color: #fcfcfe;
}

.sidebar {
    position: fixed;
    background-color: #fcfcfe;
    height: fit-content;
    margin: auto;
}

.nav-link:hover {
color: #37949CFF;
}

.card-component {
    box-shadow: -5px -5px 8px rgba(255, 255, 255, 0.99), 5px 5px 8px rgba(94, 94, 94, 0.20);
    width: fit-content;
    margin: auto;
}

.card-component:hover {
    transform: translateY(-2px);
    box-shadow: -5px -10px 18px rgba(255, 255, 255, 0.45), 5px 10px 18px rgba(94, 104, 121, 0.15);
}

.rc-slider-handle {
    border: solid 2px #37949c;
}

.rc-slider-track {
    background-color: #37949c;
}

.rc-slider-dot-active {
    border-color: #37949c;
}

.text-box {
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: #fcfcfe;
    padding: 1rem;
}

.combound p {
    display: inline;
}
.combound {
    display: inline;
}

.popup-trigger  p{
    color: #1B416C;
    cursor: pointer;
    border-bottom: dashed;
}