.sidebar {
  background-color: #f3f6fa;
  height: 80%;
  margin: 30px;
}
.title {
  color: #2a3f5f;
  padding: 0px 35px;
}
.subtitle {
  color: #2a3f5f;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  padding: 0px 35px;
}

body {
  margin: 0;
  background-color: #fcfcfe;
}
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 15%;
  padding: 1rem 0rem 0rem 0rem;
  background-color: #f8f8fc;
  height: fit-content;
  margin: auto;
  margin-left: 1rem !important;
}
.drop-down-component {
  padding: 0px 0px 10px 0px;
}

div {
  border-radius: 10px;
}

.card-component {
  box-shadow: -5px -5px 8px rgba(255, 255, 255, 0.99), 5px 5px 8px rgba(94,94,94,0.20);
  width: fit-content;
  margin: auto;
}
/* 
.card-component:hover {
  transform: translateY(-5px);
  box-shadow: -5px -10px 18px rgba(255,255,255,0.45), 5px 10px 18px rgba(94,104,121,0.15);
} */

h5 {
  font-weight: 500 !important;
}
.info-button {
  padding: 20px 35px;
}
.timeline-slider {
  padding: 10px 38px;
}
.rc-slider-handle {
  border: solid 2px #2a6fd3;
}
.rc-slider-track {
  background-color: #2a6fd3;
}
.rc-slider-dot-active {
  border-color: #2a6fd3;
}
.flex-display {
  display: flex;
}
.page-buttons {
  padding: 15px 35px;
}
.text-box {
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: #f8f8fc;
  padding: 1rem;
}
#text {
  padding: 50px;
  color: #506783;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  width: 90%;
}
