.nav-link-paragraph {
    color: #666;
    font-size: 12px;
    font-weight: bold !important;
    padding: 1rem 0 0.8rem 0;
}

.nav-link-section {
    color: #666;
    font-size: 12px;
    font-weight: bold !important;
    padding: 0.9rem 0 0.8rem 0;
}

.nav-link-subsection {
    color: #666;
    font-size: 11px;
    padding: 0.1rem 1rem 0.1rem 0;
}

.slider-label {
    color: #666;
    font-size: 12px;
    font-weight: bold !important;
    padding: 0.9rem 0 0.8rem 0;
}

.card-component {
    width: fit-content;
    margin: auto;
}

.offcanvas-backdrop.show {
    opacity: .2;
}

.text-box {
    margin-top: 2rem;
    margin-bottom: 2rem;
    background-color: #fbfbfe;
    padding: 1rem;
}

.offcanvas {
    height: fit-content;
    margin: auto;
    width: fit-content;
    max-width: 50%;
    border-radius: 0.5rem;
}

.tooltip.show {
    opacity: 1;
}

.tooltip-inner {
    background-color: #3c8288;
}

.tooltip-arrow::before {
    border-left-color: #3c8288 !important;
}

blockquote {
    margin: 0;
    padding-left: 1.4rem;
    border-left: 4px solid #dadada;
}

.toggle-text {
    color: #000000;
    cursor: pointer;
    border-bottom: 1px solid #000000;
    text-decoration: none;
    font-weight: 400;
}

.toggle-text:hover {
    color: #37949CFF;
    text-decoration: none;
    border-bottom: 1px solid #37949CFF;
}

.ds_img {
    width: 90%;
}

.list-group-item {
    background-color: transparent;
}

.list-group-item:hover {
    color: #37949CFF;
}

body {
    margin: 0;
    background-color: #fbfbfe;
    color: #3c4d5b;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    margin: 0;
    padding: 0;
    color: #45535e
}

.sidebar {
    top: 0;
    bottom: 0;
    position: fixed;
    right: 80%;
    background-color: #fbfbfe;
    height: fit-content;
    margin: auto 0 auto 2rem;
}

@media (max-width: 768px) {
    .sidebar {
        display: none;
    }
}

.nav-link:hover {
    color: #37949CFF;
}

.rc-slider-handle {
    border: solid 2px #37949c;
}

.rc-slider-track {
    background-color: #37949c;
}

.rc-slider-dot-active {
    border-color: #37949c;
}

.form-control {
    display: inline;
    width: 80%;
}

.me-1 {
    display: inline;
    float: right;
    width: 15%;
}

.img_tl {
    width: 50%;
}

.img_holder {
    display: flex;
    justify-content: center;
    align-items: center;
}

.depth_footer {
    max-width: 60%;
}

.depth_img {
    max-width: 90%;
}

.depth_img_holder {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}

.depth_footer_holder {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1%;
    margin-bottom: 5%;
}

.mantine-Accordion-item {
    border-radius: 10px;
    width: fit-content;
    margin: 1rem auto;
}

.mantine-Accordion-itemTitle {
    background-color: #9bbcbe;
}

.mantine-916gpk {
    color: #fbfbfe;
}

.mantine-916gpk:hover {
    background-color: #89b1b4;
}

.mantine-Button-root {
    border-radius: 8px;
    height: fit-content !important;
    padding: 0;
}

.mantine-Button-label {
    padding: 0.2rem;
    margin: 0;
}

.list-group-item {
    display: list-item;
}

.mantine-List-item {
    color: #3c4d5b;
    display: list-item;
}